* {
  box-sizing: border-box;
  margin: 0;
  padding: 0%;
  font-family: "Nunito", sans-serif;
}

body {
  background-color: #202020;
  background-image: url(./img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  background-color: rgb(0, 0, 0, 0.6);
  width: 63%;
  height: 87vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border-radius: 15px;
  padding: 90px;
  color: #fff;
}

header {
  text-align: center;
  color: #00ff00;
}

header img {
  width: 220px;
}

header h1 {
  font-size: 35px;
  margin-bottom: 10px;
}

nav {
  background-color: #00ff00;
  padding: 10px;
}

button {
  padding-left: 5px;
  padding-right: 5px;
}

li {
  display: inline;
}

.obj {
  margin-top: 50px;
}

.obj label {
  margin-left: 5px;
  font-weight: 600;
  font-size: 25px;
}

.charge {
  height: 25px;
  border-radius: 5px;
}

#high {
  background-color: rgb(49, 205, 49);
  width: 60%;
}
#mid {
  background-color: rgb(216, 189, 89);
  width: 35%;
}
#low {
  background-color: rgb(188, 69, 69);
  width: 15%;
}
